<div class="row">
	<div class="col s3">
			{{#md-card}}
				{{#md-card-content}}
					<div class="row center-align">
						<img src={{model.avatar}} alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
					</div>
					<div class="row">
						{{md-input value=model.firstName label='First Name' class="col s12"}}
						{{md-input value=model.lastName label='Last Name' class="col s12"}}
						{{md-btn text='Add Message'
	action='addFriend'
	class='indigo darken-2'}}
					</div>
		    {{/md-card-content}}
			{{/md-card}}
	</div>
	<div class="col s9">
		<div class="row">
			{{#sortable-objects sortableObjectList=model.messages enableSort=true}}
		    {{#each model.messages as |message|}}
		      {{#draggable-object content=message overrideClass='sortObject' isSortable=true}}
						{{#md-card class="col s3 offset-s1"}}
							{{#md-card-content}}
								<div class="row center-align">
									<img src={{message.avatar}} alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
								</div>
								<div class="row center-align">
									<p>{{message.fullName}}</p>
								</div>
							{{/md-card-content}}
							{{#md-card-action}}
								<a>Follow</a>
							{{/md-card-action}}
						{{/md-card}}
		      {{/draggable-object}}
		    {{/each}}
		  {{/sortable-objects}}
		</div>
	</div>
</div>




{{#md-fixed-btns
	class="fixed-btns-example"
	btnIcon="fa fa-undo"
	btnClass="btn-large grey"
	action="undo"}}

	{{md-fixed-btn
		btnClass="indigo"
		btnIcon="fa fa-floppy-o"
		action="commit"}}

	{{md-fixed-btn
		btnClass="deep-purple"
		btnIcon="mdi-content-grade"
		action="redoAll"}}

	{{md-fixed-btn
		btnClass="green"
		btnIcon="fa fa-trash-o"
		action="undoAll"}}

	{{md-fixed-btn
		btnClass="green"
		btnIcon="fa fa-repeat"
		action="redo"}}
{{/md-fixed-btns}}
