<button {{action "multiChange"}}>Multi Change</button>
<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col s4">
			{{#md-card title=model.displayName image=model.avatar activator=true class="user-card"}}
				{{#md-card-content}}{{/md-card-content}}

				{{#md-card-reveal}}
					<div class="row">
						{{md-input value=model.username label='Username' class="col s12" disabled=true}}
						{{md-input value=model.firstName label='First Name' class="col s12"}}
						{{md-input value=model.lastName label='Last Name' class="col s12"}}
					</div>
    		{{/md-card-reveal}}
			{{/md-card}}

			{{#md-card title="Settings"}}
				{{#md-card-content}}
					<div class="row">
						<div class="col s12">
							<br>
							<p>{{md-switch checked=model.settings.newTasks name="New Tasks"}}</p>
							<br>
							<p>{{md-switch checked=model.settings.newOnTop name="New On Top"}}</p>
							<br>
							<p>{{md-switch checked=model.settings.showTabs name="Show Tabs"}}</p>
							<br>
							<p>{{md-switch checked=model.settings.sortableCards name="Sortable Cards"}}</p>
						</div>
					</div>
		    {{/md-card-content}}
			{{/md-card}}
		</div>
		<div class="col s8">
			{{#if model.settings.newTasks}}
				{{#md-card class="new-task"}}
					{{#md-card-content}}
						<div class="row">
							<div class="col s1 center-align">
								<span class="new-task-icon" {{action 'addTask'}}>+</span>
							</div>
							<div class="col s11">
									{{input value=newTask placeholder="What needs to be done?" enter=(action 'addTask')}}
							</div>
						</div>
					{{/md-card-content}}
				{{/md-card}}
			{{/if}}

			{{#if model.settings.sortableCards}}
				<div class="task-cards-container">
					{{#sortable-objects sortableObjectList=model.tasks enableSort=true class="row"}}
						{{#each model.tasks as |task|}}
							{{#draggable-object content=task overrideClass='taskCard' isSortable=true}}
								{{#md-card}}
									{{#md-card-content}}
										{{task.title}}
									{{/md-card-content}}
									{{#md-card-action}}
										{{md-check checked=task.isCompleted}}
									{{/md-card-action}}
								{{/md-card}}
							{{/draggable-object}}
						{{/each}}
					{{/sortable-objects}}
				</div>
			{{else}}
				{{#md-card}}
				    {{#md-card-content}}
							{{#if model.settings.showTabs}}
								{{#md-tabs selected=tasksArray}}
									{{md-tab value='tasks' title="All"}}
									{{md-tab value='activeTasks' title="Active"}}
									{{md-tab value='completedTasks' title="Completed"}}
								{{/md-tabs}}
							{{/if}}

							{{#md-collection content=(get model tasksArray) class="task-list" as |task|}}
								<div class="collection-item task-item">
									{{#if task.isEditing}}
										{{input value=task.title enter=(action (toggle 'isEditing' task)) focusOut=(action (toggle 'isEditing' task))}}
									{{else}}
										<div class="row">
											<div class="col s1">
												{{md-check checked=(mut task.isCompleted)}}
											</div>
											<div class="title col s10" {{action (toggle 'isEditing' task) on="doubleClick"}}>
												{{task.title}}
											</div>
											<div class="remove-task col s1 right-align">
												<a class="fa fa-trash-o deep-orange-text" {{action 'removeTask' task}}></a>
											</div>
										</div>
									{{/if}}
								</div>
							{{/md-collection}}
				    {{/md-card-content}}
				{{/md-card}}
			{{/if}}
		</div>
	</div>
</div>

{{#md-fixed-btns
	class="fixed-btns"
	btnIcon="fa fa-undo"
	btnClass="btn-large deep-orange darken-1"
	action=(action 'undo')}}

	{{md-fixed-btn
		btnClass="blue-grey lighten-1"
		btnIcon="fa fa-floppy-o"
		action=(action 'commit')}}

	{{md-fixed-btn
		btnClass="yellow darken-1"
		btnIcon="fa fa-repeat all"
		action=(action 'redoAll')}}

	{{md-fixed-btn
		btnClass="amber lighten-1"
		btnIcon="fa fa-undo all"
		action=(action 'undoAll')}}

	{{md-fixed-btn
		btnClass="orange darken-1"
		btnIcon="fa fa-repeat"
		action=(action 'redo')}}
{{/md-fixed-btns}}
